* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

body {
    padding: 20px;
}

/* Style the header */
header {
    background-color: #0906bdb2;
    color: white;
    padding: 30px;
    text-align: center;
}

/* Style the main content area */
main {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Style the sidebar */
aside {
    flex: 1;
    margin-right: 20px;
    padding: 20px;
}

/* Style the search form */
form {
    margin-bottom: 20px;
    display: flex;

}

/* Style the search history */
ul {
    list-style-type: none;
    padding: 0;
}

/* Style the city result section */
div:nth-child(2) {
    flex: 2;
}

/* Style the list items for temperature, wind, and humidity */
ul li {
    margin-bottom: 10px;
    cursor: pointer;
}

span {
    margin-right: 10px;
}

.card {
    background-color: rgba(116, 116, 116, 0.507);
}

#resultBox {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
}

#forecast {
    padding-top: 20px;
}


/* Style the form items */
input[type="submit"] {
    width: 5em;
    padding: 5px;
    background-color: #0906bd6e;
    color: white;
    border: none;
    cursor: pointer;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

input[type="text"] {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-width: 1px;
    padding-left: 7px;
}